<div class="container">
    <mat-card class="box" flex="100">
       <form #f="ngForm" (ngSubmit)="save(f.value)">
           <h2 class="header">Course Registration Form</h2>
           <mat-form-field class="username">
               <mat-label>Username</mat-label>
               <input matInput placeholder="Enter your username" name="username" #username="ngModel" 
               ngModel required>
               <mat-error *ngIf="username.invalid && username.touched">Username is required</mat-error>
           </mat-form-field><br><br>
           <mat-form-field class="email">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter your email address" name="email" #email="ngModel" 
            ngModel required>
            <mat-error *ngIf="email.invalid && email.touched">Email is required</mat-error>
        </mat-form-field><br><br>
        <mat-form-field class="profession">
            <mat-label>Profession</mat-label>
            <input matInput placeholder="Enter your profession" name="profession" #profession="ngModel" 
            ngModel required>
            <mat-hint>Ex. Student/Working</mat-hint>
            <mat-error *ngIf="profession.invalid && profession.touched">Profession is required</mat-error>
        </mat-form-field><br><br>
        <mat-form-field class="category">
            <mat-label>Category</mat-label>
            <mat-select name="category" #category="ngModel" ngModel required>
              <mat-option *ngFor="let c of courses" [value]="c.name">
                {{c.value}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category.invalid && category.touched">Please select a category</mat-error>
          </mat-form-field><br><br>
        <button [disabled]="f.invalid" mat-stroked-button color="accent" class="btn-block">Save</button>
        <!-- <button (click)="deleteUser()" mat-stroked-button color="danger" class="btn-block">Delete</button> -->
       </form>
    </mat-card>
</div>