<div class="container col-md-10">
    <mat-card class="box" flex="80">
          <!-- <h1 class="title">Courses Table</h1><br><br>   -->
      <!-- <mat-form-field class="search">
           <mat-label>Search for courses</mat-label>
           <input matInput placeholder="Please search here" name="search" #search="ngModel"
           ngModel>
      </mat-form-field>       -->
        <div class="example-table">
          <table>
            <tr colspan="4">
              <h3>Courses Table</h3>
            </tr>
            <tr>
                <th>Courses</th>
                <th>Price</th>
                <th>Duration</th>
                <th>Category</th>
                <th></th>
            </tr>
            <tr *ngFor="let c of courses">
                <td>{{c.coursename}}</td>
                <td>{{c.price}}</td>
                <td>{{c.duration}}</td>
                <td>{{c.category}}</td>
                <td>
                  <a routerLink="/admin/table" (click)="delete(c)">Delete</a>
                </td>
            </tr>
        </table> 
        </div>
        <mat-form-field class="search">
          <mat-label>Search for courses</mat-label>
          <input matInput placeholder="Please search here" name="search" #search="ngModel"
          ngModel>
     </mat-form-field>
    </mat-card>
</div>