.container{
    min-width: 100%;
    max-width: 300px;
    align-self: auto;
    position: fixed;
    left: 50px;
    height: 80vh;
    display: flex;
    bottom: 20px;
}
/* .box{
    /* padding-left: 20px; 
  max-width: 700px;
} */
.username,.price,.duration,.category,.imageUrl{
    width:600px !important;
  }
.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.example-card{
    align-self: auto;
    position: fixed;
    right: 90px;
    height: 410px;
}
.title{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;    
}
.mat-card-image{
    width: 100%;
    height: 65%;
    padding-left: 18px;
}